
.loading { display: none; }
.btn { margin: 5px; padding: 5px 10px; border: none; border-radius: 5px; cursor: pointer; }
.btn-primary { background-color: #007bff; color: #fff; }
.btn-secondary { background-color: #6c757d; color: #fff; }
#modal { display: none; position: fixed; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); align-items: center; justify-content: center; }
#modal-content { background-color: #fff; padding: 20px; border-radius: 8px; text-align: center; max-width: 400px; }
.toast { position: fixed; top: 20px; left: 50%; transform: translateX(-50%); background-color: #333; color: white; padding: 10px 20px; border-radius: 5px; display: none; opacity: 0.9; z-index: 1000; }
#floating-loading {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0);
padding: 20px;
border-radius: 10px;
text-align: center;
z-index: 1000;
}
#floating-loading img {
width: 150px; /* Sesuaikan ukuran GIF */
height: 150px;
}
.logo {
    width: 80px;
}
